certifi==2020.6.20
chardet==3.0.4
click==7.1.2
-e git+https://github.com/click-contrib/click-aliases.git@b13302f1f626c52805c14363934a42c4167fbdaf#egg=click-aliases
colorama==0.4.3
hurry.filesize==0.9
idna==2.10
pyperclip==1.8.1
python-magic==0.4.18
python-magic-bin==0.4.14
requests==2.24.0
requests-toolbelt==0.9.1
toml==0.10.1
urllib3==1.25.10
